@import 'fade-animation';

$clr-light: #e0e4fb !default;
$clr-base: #465798 !default;
$clr-accent: rgb(255, 188, 2) !default;

$transition-time: 0.4s !default;

$play-btn-color: $clr-base !default;
$play-btn-size: 32px !default;

.alice-carousel {

  position: relative;
  width: 90%;
  height: auto;
  margin: 0 auto;
  direction: ltr;
  
  // padding: 46px 39px;
  
}

.alice-carousel__wrapper {
  position: relative;
  // overflow-x: hidden;
  // overflow-y: hidden;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 20px 0 20px 0;
}

.alice-carousel__stage {
  
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 26px 33px;
  padding: 0;
  white-space:nowrap;
  transform-style: flat;
  -webkit-transform-style: flat;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  &-item {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    vertical-align: top;
    white-space: normal;

    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    line-height: 0;
    * {
      line-height: initial;
    }
    
    &.__hidden {
      opacity: 0;
      overflow: hidden;
    }
  }

  &-item:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}

.alice-carousel__prev-btn > span,
.alice-carousel__next-btn > span{

 display: inline-block;
  box-sizing: border-box;
  // width: 50%;
  padding: 10px 5px;
  

  [data-area] {
    &::after {
      display: inline-block;
      position: relative;
      content: attr(data-area);
      // font-weight: 800;
      text-transform: capitalize;
      // padding: 10px 1.3vw;
    }
  }
}

// .alice-carousel__prev-btn {
//   text-align: center;
// }
.alice-carousel__prev-btn > span,
.alice-carousel__next-btn > span{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  width: 5%;
  height: 126px;
  border-radius: 6px;
  font-size: 60px;
  // background-color: rgba(0, 204, 255, 0);
  overflow: none;
  user-select: none;
  -moz-user-select: none;
}
.alice-carousel__prev-btn > span{
  left: -36px;
}
.alice-carousel__next-btn > span{
  right: -30px;
}

.alice-carousel__prev-btn > span,
.alice-carousel__next-btn > span {
  // display: inline-block;
  cursor: pointer;
  padding: 5px;
  margin: 0;

  color: $clr-base;
  &:hover {
    color: $clr-accent;
    // background-color: rgb(58, 2, 161);
  }
  &.__inactive {
    opacity: 0.4;
    pointer-events: none;
  }
}

.alice-carousel__play-btn {
  position: absolute;
  top: 30px;
  left: 20px;

  display: inline-block;
  &:hover {
    cursor: pointer;
    
  }
  &-wrapper {
    position: relative;

    width: $play-btn-size;
    height: $play-btn-size;
    padding: 10px;

    border-radius: 50%;
    background-color: #fff;
  }
}

.alice-carousel__play-btn-item {
  position: absolute;

  width: $play-btn-size;
  height: $play-btn-size;

  cursor: pointer;

  border: 0;
  outline: none;
  background: transparent;
  &::before,
  &::after {
    position: absolute;
    pointer-events: none;

    display: block;

    width: 0;
    height: 0;

    content: '';
    transition: all $transition-time linear;

    border-width: 8px 0 8px 15px;
    border-style: solid;
    border-color: transparent;
    border-left-color: $play-btn-color;
  }
  &::before {
    left: 5px;

    height: 14px;
  }
  &::after {
    top: 7px;
    left: 18px;
  }
  &.__pause {
    &::before,
    &::after {
      height: 30px;
      border-width: 0 0 0 10px;
    }
    &::after {
      top: 0;
      left: 18px;
    }
  }
}

.alice-carousel__dots {
  margin: 30px 3px 5px;
  padding: 0;

  list-style: none;

  text-align: center;

  & > li {
    display: inline-block;
  }

  &-item:not(.__custom) {
    width: 8px;
    height: 8px;

    cursor: pointer;

    border-radius: 50%;
    background-color: $clr-light;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover,
    &.__active {
      background-color: lighten(#465798, 15%);
    }
  }
}

.alice-carousel__slide-info {
  position: absolute;
  // bottom: -10px;
  right: 0px;

  display: inline-block;

  padding: 0px 9px;

  color: $clr-base;
  border-radius: 5px;
  background-color: rgba($clr-light, 0.6);
  &-item {
    vertical-align: middle;

    line-height: 0;
  }
}
