// ============= DESKTOP 1281PX OR GREATER ================/

.projects_wrapp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    // border: 1px solid #325f74 ;
    padding: 3px 20px;
    
    ul{ 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: space-around;
        width: 100%;
        height: auto;
        // margin: 0 6%;
        
      
        li{ 
            display: flex;
            justify-content: center;
            align-items: center; 
            width: 233px;
            height: 106px;
            position: relative;
            border-radius: 50px;
            border: 2px solid #0cb2ff7c;
            margin: 9vh 23px;
            padding: 23px;
            list-style: none;
            z-index: 1;
            
            a{
                text-decoration: none;
                
                figure{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0px 56px;

                    img{
                        
                        margin-top: 39px;
                        width: 140px;
                        height: 139px;
                    }
                
                }
                
                h3{
                    text-align: center;
                    margin: 6px;
                    padding: 6px;
                    color: rgb(53, 113, 204);
                }
            }                    
        }
       
        //this pseudo is necessary for blur effect work in container of li
        li:hover::after {
            content: '';
            position: absolute;
            width: 243px;
            height: 126px;
            -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
            z-index: -1;
        }

        li:hover{
            box-shadow: inset 0 0 1em 5em rgb(106, 183, 255), 0 0 6em rgb(1, 132, 255); 
            
            
                a{
                    figure:not(.item_disabled figure){
                        -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
                        animation: pulsate-fwd 0.5s ease-in-out infinite both;
                              
                    }

                    h3{
                        color: rgb(241, 246, 253);
                    }
                }
                

        }   

        //for disabled items
        .item_disabled{
            opacity: 0.1;
            user-select: none;
            filter: grayscale(1);
 
            a{
                cursor: unset;
                user-select: none;
                text-decoration: none;
                color: whitesmoke;
                cursor: default;
               
                figure{
                    
                    img{
                        filter: grayscale(1);
                        margin-top: 13px;
                        padding: 6px;
                        
                    }
                }
                
                p{text-align: center;}
            }
        }    
    }
}

.footer{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 9vh 0;
    &::after, &::before{
        content: "";
        display: inline-block;
        vertical-align: middle;
        position: relative;
        background-color: #0cb2ff54;
        width: 90%;
        height: 2px;
        // border: 2px solid crimson;
    }
    p{  
        text-align: center;
        font-family: 'Quicksand';
        margin: 1.333vh;
        font-size: 12px;
        color: #A5C8FB;

        a{  
            text-decoration: none;
            strong{
                font-size: 12px;
                color: rgb(152, 91, 209);
            }
            
        }
    }    
    
}

// ============= DESKTOP UP TO 1280PX ================//

@media screen and (max-width: 1280px){
    .projects_wrapp{  
        ul{ 
            li{ 
                display: flex;
                justify-content: center;
                align-items: center; 
                width: 209px;
                height: 100px;
                margin: 53px 30px;

                a{
    
                    figure{
    
                        img{
                            width: 130px;
                            height: 130px;
                        }
                    
                    }
                }
            }
        }
    }
}

// ============= ANIMATION AREA ================//


/**
 * ----------------------------------------
 * animation pulsate-fwd

	-webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
	        animation: pulsate-fwd 0.5s ease-in-out infinite both;

 * ----------------------------------------
 */
@keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }