.footer h1{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif, arial, helvetica;
    text-align: center;
    color: rgb(166, 175, 196);

}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 5vh;
    position: relative;
    top: calc(100% - 600px);
    margin: 0 auto;
    background-color: rgb(9, 16, 36);
    opacity: 50%;
}

@media screen and (max-device-height: 768px) {
    .footer{
        top: calc(100% - 490px);
    }
}
