.footer h5, .footer p{
    font-size: 9px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif, arial, helvetica;
    text-align: center;
    color: rgb(166, 175, 196);

}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76%;
    height: 3vh;
    position: absolute;
    bottom: 9px;
    right: 26px;
    /* top: calc(100% - 200px); */
    margin: 0 auto;
    background-color: rgb(9, 16, 36);
    opacity: 50%;
}

