.body{
    display: flex;
    width: 100%;
    max-height: 100vh;
    background-color: rgb(122, 20, 238);
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    display: flex;
    width: 100%;
    height: auto;
}
.sectionLeft{
    position: relative;
    width: 20%;
    max-height: 100vh;
    background-color: rgb(255, 230, 0);
}

.side_right_container {
    width: 80%;
    min-height: 100vh;
    margin: 0px;
    justify-content: center;
    align-items: center;
    /* font-size: 10px; */
     background-color: rgb(21, 23, 83); /* for browsers that do not support gradients */
    background-image: linear-gradient(320deg, rgb(21, 23, 83),rgb(42, 45, 122), rgb(35, 37, 93), rgb(23, 23, 58));  
}

.container_about h1{
    font-size: 62px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color: rgb(210, 206,171);
    margin-left: -20%;
}
.container_about h2{
    font-size: 22px;
    font-weight: bold;
    font-family: 'Bungee Hairline', cursive, Arial, Helvetica, sans-serif;
    color: rgb(165, 200,251);
    text-transform: uppercase;
    line-height: 1.5rem;
    margin-left: -20%;
}
.container_about p{
    width: 64%;
    font-size: 12pt;
    font-family: 'Quicksand', sans-serif, Arial, Helvetica;
    text-align: left;
    line-height: 1.35rem;
    color: rgb(165, 200,251);
    margin-top: 5%;
    margin-left: -20%;
}
.container_about{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    position: relative;
    top: 5%;
    /* right: 12%; */
}
.container_description h1{
    font-size: 26px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color: rgb(210, 206,171);
}
.container_description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: relative;
    top: 10%;
    margin-left: 8%;
}

.container_description p{
    margin-top: 10px;
    width: 70%;
    font-size: 12pt;
    font-family: 'Quicksand', sans-serif, Arial, Helvetica;
    text-align: left;
    line-height: 1.35rem;
    color: rgb(165, 200,251);
}

.container_tech h2{
    font-size: 26px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color: rgb(210, 206,171);
}
.container_tech{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: left; */
    width: 80%;
    position: relative;
    top: 18%;
    margin-left: 8%;
}

.container_tech_itens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}
.tech_iten{
    margin-top: 20px;
    text-align: center;
    width: 50px;
    height: auto;
}
.tech_iten p{
    font-size: 10px;
    font-weight: regular;
    font-family: 'Quicksand', sans-serif;
    color: rgb(165, 200,251);
    text-transform: uppercase;
    margin-top: 5px;
}
.container__imgBg{
    position: fixed;
    width: 30vw;
    height: 110vh;
    left: 70%;
    top: -30px;
    opacity:  35%;
    filter: saturate(0.5) hue-rotate(220deg);;
    -webkit-animation: fadein 9s linear;
    -moz-animation: fadein 9s linear;
    animation: fadein 9s linear;
}

/* ------------------------ ANIMATION AREA -------------------------- */
@keyframes fadein{
    from { opacity: 0; }
    to { opacity: 0.35; }
}
@-webkit-keyframes fadein{
    from { opacity: 0; }
    to { opacity: 0.35; }
}
@-moz-keyframes fadein{
    from { opacity: 0; }
    to { opacity: 0.35; }
}
@-o-keyframes fadein{
    from { opacity: 0; }
    to { opacity: 0.35; }
}

/* =============== MEDIA QUERY FOR 768PX HEIGHT DISPLAYS =============== */

@media screen and (max-device-height: 768px){
   
    .container_about{
        top: 6%;
    }
    .container_about h1{
        font-size: 44px;
    }
    .container_about h2{
        font-size: 16px;
        line-height: 1rem;
    }
    .container_about p{
        width: 70%;
        line-height: 16pt;
        margin-top: 3%;
        margin-left: -20%;
        font-size: 11pt;
    }
   
    .container_description{
        top: 9%;
        margin-left: 5.5%;
    }
    .container_description p{
        width: 75%;
        margin-top: 6px;
        font-size: 11pt;
        line-height: 16pt;
    }
    .container_tech{
        top: 12%;
        margin-left: 5.5%; 
    }
 
    .tech_iten{
        margin-top: 16px;
        width: 4%;
        height: auto;
    }
    .tech_iten p{
        width: 50px;
        margin-left: -9px;
    }
}