

.side_left_container {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    font-size: 10px;
    background-color: rgba(9,16,36,1);
    /* border: yellow 2px solid; */
}

.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
}

.perfil h1{
    font-size: 26px;
    font-family: 'Montserrat Alternat', Abel, sans-serif, roboto, arial;
    font-weight: 600;
    color: rgb(140, 152, 181);
    letter-spacing: 0.15rem;
    line-height: 2rem;
    text-transform: uppercase;
}
.perfil h2{
    font-size: 10px;
    font-family: 'Quicksand', sans-serif, Roboto, Arial;
    font-weight: 300;
    color: rgb(210, 206, 171);
}
.container_imgPerfil{
    position: relative;
    margin-top: 10%;
    margin-bottom: 6%;
    min-width: 70%;
    min-height: 10vw; 
    padding: 5px;
    background-color:#1d3168;
    border-radius: 50%;
}
.imgPerfil{
    border-radius: 50%;
    position: absolute;
    margin-left: 410px;
}
.container_Nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px
}
.line_horizontal{
    width: 90%;
    margin-top: 2%;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    color: #314665;
}
/* =================== MEDIA QUERY FOR 720PX HEIGHT DISPLAYS ===================== */
@media only screen and (max-device-height:768px){
    .perfil h1{
        font-size: 18px;
    }
    .perfil h2{
        font-size: 9px;
    }
    .container_imgPerfil{
        min-width: 60%;
        height: auto; 
    }
    .container_Nav{
        margin-top: 2%;
        margin-bottom: 2%
    }
}