.courses_wrapp{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 100%;
    // height: 400px;
    position: relative;
    padding: 0 6px;
    margin: 20px 0px 60px 0px;
}


// .alice_carousel__prev_btn,
// .alice_carousel__next_btn {

//  display: inline-block;
//   box-sizing: border-box;
//   // width: 50%;
//   padding: 10px 5px;
  

//   [data-area] {
//     &::after {
//       display: inline-block;
//       position: relative;
//       content: attr(data-area);
//       font-weight: 800;
//       text-transform: capitalize;
//       padding: 60px 1.3vw;
//     }
//   }
// }

// // .alice-carousel__prev-btn {
// //   text-align: center;
// // }
// .alice_carousel__prev_btn,
// .alice_carousel__next_btn{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: absolute;
//   top: 9.6vh;
//   width: 4%;
//   height: 100px;
//   background-color: rgb(30, 3, 56);
//   overflow: none;
// }
// .alice_carousel__prev_btn{
// //   left:-36px;
// }
// .alice_carousel__next_btn {
//   right: -30px;
// }