.cover_wrapper{
  
    width: 100%;
    cursor: pointer;
    perspective: 696px;
    figure{
       
        user-select: none;
        margin: 39px 16px;
        box-shadow:  0px 13px 19px 0px rgb(24, 1, 37);

    //    transform: rotate3d(0.033, 0.66, 0, 30deg);
        
        
        img{
            width: 19vw;
            height: 53vh;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    }
    button{
        display: none;
    }
    
}


.cover_wrapper:focus-within{
      
        display: flex;
        // height: 100vh;
        // background-color: rgba(0, 124, 240, 0.575);
        backdrop-filter: blur(15px);

        // border:rgb(99, 1, 155) 1px solid;
        outline: 0;
        margin-top: 0px;
        // border-radius: 0 50px;
        z-index: 3;
        animation: cover-move 0s 0s both;
        
        figure{
            animation: cover-rotate 1s 0s both;
            height: auto;
            // margin: 0;
            img{
                animation: cover-zoom 1s 0s both;
                height: 66vh;
            }
        }
        button{
            position: relative;
            width: 300px;
            height: 60px;
            display:flex;
            margin: 0 auto;
            top: 60vh;
            justify-content: center;
            align-items: center;
            padding: 9px;
            border-radius: 50px;
            // border-style: hidden;
            background-color: rgb(0, 12, 46);
            color: #fff;
        }
    }

    




@keyframes cover-rotate {
    0%{
        transform: rotate3d(0, 0, 0, 0deg);
        
    }
    100%{
        
        transform: rotate3d(0.033, 0.66, 0, 30deg);
    }
}

@keyframes cover-zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.01); 
    }
}

@keyframes cover-move {
    0%{
        position: relative;
    }
    100%{
        position: absolute; 
        top: 16vh;
        left: 4vw;
        width:93%;
        height: 76vh;
    }
}