.body{
    display: flex;
    //position necessario pro overflow funcionar na animação de escala 
    position: absolute; 
    width: 100%;
    max-height: 100vh;
    background-color: rgb(21, 23, 83); /*for browsers that do not support gradients*/
    background-image: linear-gradient(320deg, rgb(21, 23, 83),rgb(42, 45, 122), rgb(35, 37, 93), rgb(23, 23, 58));  
    overflow: hidden; 
}
////////////////////////////////////////////////COMMUNS STYLE////////////////////////////////
.sectionLeft{
    position: relative;
    width: 20%;
    min-height: 100vh;
    background-color: rgb(255, 230, 0);
    z-index: 999;
}

.side_right_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 100vh;
    margin: 0px;
    align-items: center;
    font-size: 10px;
    background-color: rgb(21, 23, 83); /*for browsers that do not support gradients*/
    background-image: linear-gradient(320deg, rgb(21, 23, 83),rgb(42, 45, 122), rgb(35, 37, 93), rgb(23, 23, 58));  
}
////////////////////////////////////////////////FIM COMMUNS STYLE////////////////////////////////


.title{ 
    color: #0CB4FF;
    font-weight: bold;
}

.subtitle{
    color: #A5C8FB;
    font-weight: lighter;
    font-family:  'Bungee Hairline', cursive;
    letter-spacing: 5px;
}

.wrap_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: auto;
    margin-top: 2em;
    // border:rgb(255, 230, 0) solid 2px;
}
.line_horizontal{
    width: 100%;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    color: #314665;
}

.pageOut{
    animation: pageTransitionOut 1.5s forwards;
}
.pageIn{
    animation: pageTransitionIn 1.5s both;
}

@keyframes pageTransitionOut{
    0%{
        opacity: 0; 
        left: 15%;
        // transform: scale(1.5);
        position: absolute;
        display: none;
        
    }
    100%{
        position: absolute;
        opacity: 1; 
        left: 100%;
        // transform: scale(1);
    }
}
@keyframes pageTransitionIn{
    0%{
        opacity: 0.7; 
        left: 100%;
        // transform: scale(1.5);
        position: absolute;
        
    }
    100%{
        position: absolute;
        opacity: 1; 
        left: 20%;
        // transform: scale(1);
    }
}
// .footer{
//     display: flex;
//     // justify-content: center;
//     // align-items: center;
//     width: 100%;
//     height: 20px;
//     // position: relative;
//     border:rgb(121, 223, 83) solid 
// }

