.body{
    display: flex;
    //position necessario pro overflow funcionar na animação de escala 
    position: absolute; 
    width: 100%;
    max-height: 100vh;
    // background-color: rgb(21, 23, 83); /*for browsers that do not support gradients*/
    // background-image: linear-gradient(320deg, rgb(21, 23, 83),rgb(42, 45, 122), rgb(35, 37, 93), rgb(23, 23, 58));  
    overflow: hidden; 
}
////////////////////////////////////////////////COMMUNS STYLE////////////////////////////////

.side_right_container {

    left: 20%;
    width: 80%;
    height: 80vh;
    margin: 0px;
    display: flex;
    font-size: 10px;
    overflow-y: auto;
    min-height: 93vh;
    position: relative;
    overflow-x: hidden; 
    align-items: center;
    flex-direction: column;
    // for IE
    scrollbar-face-color: #5a41e7;
    scrollbar-track-color: #40075a; 
    //for firefox
    scrollbar-color: #5a41e7 #40075a;
    scrollbar-width: thin;

    
}
// for chrome
.side_right_container::-webkit-scrollbar-track {
    background-color: #43335f;

}
.side_right_container::-webkit-scrollbar {
    width: 4px;
    background: #2914a0;
}
.side_right_container::-webkit-scrollbar-thumb {
    background: #5a41e7;
}
////////////////////////////////////////////////FIM COMMUNS STYLE////////////////////////////////
.wrap_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: auto;
    margin-top: 2em;
    // border:rgb(255, 230, 0) solid 2px;
}

.title{ 
    color: #0CB4FF;
    font-weight: bold;
    animation: title_transtion 1.5s both;
    opacity: 0;
}

.subtitle{
    color: #A5C8FB;
    font-weight: lighter;
    font-family:  'Bungee Hairline', cursive , Helvetica, sans-serif;
    letter-spacing: 5px;
    animation: title_transtion 1.5s 0.6s both;
    opacity: 0;
}

.line_horizontal{
    width: 100%;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    color: #314665;
    animation: line_horizontal_transtion 1.5s 0.2s both; 
}

@keyframes line_horizontal_transtion{
    0%{
        // -webkit-transform: translateX(-100%);
        transform: scale3d(0,1,1);
        transform-origin: -100%;
        position: relative;
           
    }
    100%{
        position: relative;
        // -webkit-transform: translateX(0%);
        transform: scale3d(1,1,1);
    }
}
@keyframes title_transtion{
    0%{
        opacity: 0; 
        // right: -100%;
        // -webkit-transform: translateX(-100%);
        transform: translateX(-30%);
        transform-origin: -100%;
        position: relative;
           
    }
    100%{
        position: relative;
        opacity: 1; 
        // right: 0%;
        // -webkit-transform: translateX(0%);
        transform: translateX(0%)
    }
}

// .footer{
//     display: flex;
//     // justify-content: center;
//     // align-items: center;
//     width: 100%;
//     height: 20px;
//     // position: relative;
//     border:rgb(121, 223, 83) solid 
// }

