.rating {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;

    & img {
        cursor: pointer;
    }
  
    & div:hover img {

        background: url(../../public/icons/star-full-icon.svg);
      
    }
  
    & img:hover{
        background: url(../../public/icons/star-icon.svg);
        ~img{
            background: url(../../public/icons/star-icon.svg);
        }
    }

    .clickedstar {
        background: url(../../public/icons/star-full-icon.svg);
        color: rgb(212, 180, 0);
    }

  }
  
