
body{
    /* font-size: 16px; */
    background-color: rgb(49, 38, 38);
    width: 100%;
   
} 
/* ====================== NAV MENU ===============================*/

.header-section{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    padding: 15px;
    /* margin: 0px; */
    z-index: 999;
    background: rgba(61, 61, 61, 0.9);
     /* border-color: rgb(35, 48, 221);
    border-style: solid;
    border-width: 5px; */
    
    
}
.section-nav{
    display: flex;
    justify-content: space-around;
    /* flex-flow: row wrap; */
    width: 80%;
    margin: 0px ;
    margin-right: -11%;
    align-items: center;
    /* border-color: rgb(0, 163, 163);
    border-style: solid;
    border-width: 5px; */
    
}
/* nav ul::before{
    content: '';
    width: 100px;
    background-color: aqua;
} */

nav ul{
    display: flex;
    margin: 0px;
    /* width: 100%; */
    list-style: none;
    /* border-color: rgb(128, 78, 5);
    border-width: 4px;
    border-style: solid; */
    text-transform: uppercase;
    text-align: center;

}
nav ul li{
    margin-left: 20px;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-weight: 600;
    
    
}
nav a{
    padding: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: ease-in 0.2s;
}
nav a:hover{
    color:rgb(28, 212, 233);
    transition: ease-in 0.2s;
}
.section-logo{
    margin: 0px;
    /* border-color: rgb(0, 163, 163);
    border-style: solid;
    border-width: 5px; */
}
.section-logo img{
    width: 155px; 
}
/* ====================== SECTIONS ===============================*/
.main-content{
    /* position: relative; */
    width: 100%;
    height: auto;
   
}
/* ====================== SECTION 1 ===============================*/
.content1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    background-image: url('../src/web/full_digital_performance_bg.png');
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 888;
    /* border-style: solid;
    border-width: 2px;
    border-color: rgb(7, 189, 89); */
}
.content1_title{
    width: 100%;
    margin: 17rem auto auto auto;
    /* border-style: solid;
    border-width: 1px;
    border-color: blue; */
}
.content1_subtitle{
    width: 45%;
    margin-top: 4rem;
    text-align: center;
    /* border-style: solid;
    border-width: 1px;
    border-color: blue; */
}

.content1 h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 105px;
    line-height: 9rem;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
.content1 h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.93rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgb(255, 255, 255);
}


/* ====================== SECTION 3 ===============================*/
.content3{
    border-width: 5px;
    background-color: rgb(255, 255, 255);
    background-image: url('../src/web/full_digital_performance_bg.png');
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}



