
body{
    /* font-size: 16px; */
    background-color: rgb(49, 38, 38);
    width: 100%;
   
} 
/* ====================== NAV MENU ===============================*/

.header-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    margin: 20px;
    z-index: 999;
    /* background: rgb(61, 61, 61);
    border-color: rgb(35, 48, 221);
    border-style: solid;
    border-width: 5px; */
    
    
}
.section-nav{
    display: flex;
    margin: 0px 10px 0px 0px;
    align-items: center;
    /* border-color: rgb(0, 163, 163);
    border-style: solid;
    border-width: 5px; */
    
}

nav ul{
    display: flex;
    width: 100%;
    list-style: none;
    /* border-color: rgb(128, 78, 5);
    border-width: 4px;
    border-style: solid; */
    text-transform: uppercase;
    text-align: center;

}
nav ul li{
    display: flex;
    margin-left: 2.2vw;
    font-family: 'Montserrat',sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    
    
}
nav a{
    padding: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: ease-in 0.2s;
}
nav a:hover{
    color:rgb(28, 212, 233);
    transition: ease-in 0.2s;
}
.section-logo{
    margin: 0px 0px 0px -25px ;
}
.section-logo img{
    width: 170px; 
}
/* ====================== SECTIONS ===============================*/
.main-content{
    position: relative;
    width: 100%;
    height: auto;
}
/* ====================== SECTION 1 ===============================*/
.content1{
    position: relative;
    background-color: rgb(255, 255, 255);
    background-image: url('../src/web/full_digital_performance_bg.png');
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 888;
    
}
.content1_title{
    width: 100%;
    margin: 15.2rem auto auto auto;
    /* border-style: solid;
    border-width: 1px;
    border-color: blue; */
}
.content1_subtitle{
    width: 50%;
    margin-top: 5%;
    text-align: center;
    /* border-style: solid;
    border-width: 1px;
    border-color: blue; */
}

.content1 h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 6.5rem;
    line-height: 8.5rem;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
.content1 h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
}


/* ====================== SECTION 3 ===============================*/
.content3{
    border-width: 5px;
    background-color: rgb(255, 255, 255);
    background-image: url('../src/web/full_digital_performance_bg.png');
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}



