.slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 430px;
    min-height: 600px;
    position: relative;
}

.slider-container img{
    position: absolute;
    width: 60%;
    top: 12.5%;
    right: 9.2%;
    border: 1px solid;
    opacity: 0;
    transition: opacity linear 2000ms;
}

.slider-container img.slider-img-on{
    opacity: 1;
    transition: opacity linear 2000ms;
}